@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
:root{
  --cor1: #2b0806;
  --cor2:  #f2f1f1;
  --cor3: #d47676;
  --cor4:  #fcacac;
  --cor5:#efb07d;
}

body{
  background-color: var(--cor2);
}

header{
  background-color: var(--cor3);
  margin: -10px -10px 0px -10px ;
 
}

header img{
  padding: 10px 0px 5px 50px;
  width: 75.2px;
  height: 62px;
}
#titulo{
  position: relative;
}

header h1{
  position:absolute;
  top: -1.1vw;
  left: -1.1vw;
  transform: translate(-0.5vw);
  font-family:"Amatic SC", sans-serif;
  font-weight: 425;
  font-size: 49px;
  margin-left: 150px;

}

.menu{
  position: relative;
}

.menu li{
  position: absolute;
  display: inline-block;
 /* margin-left: 60vw;*/
}

header a{
  text-decoration: none;
  width: 100px;
  color: var(--cor1);
}

div.bemvindo{
  position: relative;
}

.bemvindo > img{
  position: absolute;
  left: 40vw;
  top: 3vw;
  max-width: 300px;
}
